li span {
  padding: 0.5rem;
}

li {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

i {
  font-style: initial;
  cursor: pointer;
}

img {
  max-width: 20rem;
  max-height: 20rem;
  margin-bottom: 1rem;
  border-radius: 10rem;
}

li {
  max-height: 60vh;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  background: linear-gradient(
    40deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
}

.actions {
  margin-top: 2rem;
}
